h1 {
    font-family: monospace;
    text-align: center;
}
.para1 {
    background-color: rgb(45, 223, 223);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    color: rgb(2, 45, 48);
    margin-bottom: 10px;
}
.head2 {
    font-weight: bolder;
    color: rgb(82, 54, 41);
}
.para2 {
    background-color: lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 10px;
    border-radius: 6px;
    color: rgb(2, 31, 9);
    text-align: center;
    margin-bottom: 10px;
}
.para3 {
    background-color: lightblue;
    color: rgb(3, 23, 78);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}